.heading{

    &__primary{
        font-size: 12rem;
        letter-spacing: 5px;

        @media (max-width: 600px) {
            font-size: 9rem;
            letter-spacing: 3px;
        }

    }

    &--white{
        color: white;
    }

    &__secondary{
        text-align: center;
        font-size: 8rem;
        letter-spacing: 2px;
        color: #323232;
        font-weight: 100;

        @media (max-width: 1000px) {
            font-size: 6.8rem;
            letter-spacing: 1px;   
        }

        @media(max-width: 660px){
            font-size: 6rem;
            letter-spacing: normal;
        }
    }

    &__tertiary{
        text-align: center;
        color: #9f9e9e;
        letter-spacing: 3px;
        font-weight: 100;
        font-size: 9rem;

        @media (max-width: 1340px) {
            font-size: 8rem;
            letter-spacing: 2px;
        }

        @media(max-width: 1040px){
            font-size: 6.5rem;
            letter-spacing: 1px;
        }

        @media(max-width: 760px){
            font-size: 5.5rem;
            letter-spacing: normal;
        }

        @media (max-width: 550px) {
            font-size: 5rem;
        }

        @media (max-width: 490px) {
            font-size: 4rem;
        }

        @media (max-width: 390px) {
            font-size: 3.2rem;
        }

    }

}